# Directories
.vs/
bin/
bin-int/
x64/

# Files
*.user
*.sln
*.vcxproj
*.filters
Sandbox/imgui.ini
Wraith-Editor/imgui.ini
Sandbox/WraithProfile-Runtime.json
Sandbox/WraithProfile-Shutdown.json
Sandbox/WraithProfile-Startup.json
Wraith-Editor/WraithProfile-Runtime.json
Wraith-Editor/WraithProfile-Shutdown.json
Wraith-Editor/WraithProfile-Startup.json
*.log