# Directories
.vs/
bin/
bin-int/
x64/

# Files
*.user
*.sln
*.vcxproj
*.filters
Sandbox/imgui.ini
Sandbox/WraithProfile-Runtime.json
Sandbox/WraithProfile-Shutdown.json
Sandbox/WraithProfile-Startup.json
